body {
  color: #283C43;
}

body, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: "proxima-nova", sans-serif;
}

/* Add transition to containers so they can push in and out */
#layout, #menu, .pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/
table {
  width: 90%;
  margin: 1em 4%;
  border: 3px solid;
  border-collapse: collapse;
  color: black;
}

td {
  padding: 0 0.3em 0 0.3em;
  border: 1px solid gray;
}

thead, tr.head, thead td, tr.head td {
  background: #7CBACF;
  border: 1px solid;
  padding: 0.1em 0.5em;
  vertical-align: central;
  text-align: center;
}

a {
  color: #304750;
}

  a:hover {
    color: #000;
  }

  a:visited {
    color: #304750;
  }
/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout {
  padding-left: 200px; /* left col width "#menu" */
  left: 0;
}


/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
  padding: 1.3em;
}

.l-vbox {
  padding: 1.3em 0;
}

.l-hbox {
  padding: 0 1.3em;
}

.l-centered {
  text-align: center;
}

/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu {
  margin-left: -200px; /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 200px;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #1B3A43;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;
}

  #menu a {
    color: #fff;
    border: none;
    white-space: normal;
    font-weight: bold;
    padding: 0.6em 0 0.6em 0.6em;
  }

  #menu .pure-menu-open {
    background: transparent;
    border: 0;
  }

  #menu .pure-menu ul {
    border: none;
    background: transparent;
  }

  #menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #3A7D8F;
  }

  #menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    background: #65868F;
  }

.pure-menu-link {
  display: none; /* show this only on small screens */
  top: 0;
  left: 200px; /* "#menu width" */
  background: #3A7D8F;
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

  .pure-menu-link:hover, .pure-menu-link:focus {
    background: #65868F;
  }

  .pure-menu-link span {
    position: relative;
    display: block;
  }

    .pure-menu-link span, .pure-menu-link span:before, .pure-menu-link span:after {
      background-color: #1B3A43;
      width: 100%;
      height: .2em;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
    }

      .pure-menu-link span:before, .pure-menu-link span:after {
        position: absolute;
        margin-top: -.6em;
        content: " ";
      }

      .pure-menu-link span:after {
        margin-top: .6em;
      }

  .pure-menu-link.active span {
    background: transparent;
  }

    .pure-menu-link.active span:before {
      -webkit-transform: rotate(45deg) translate(.5em, .4em);
      -moz-transform: rotate(45deg) translate(.5em, .4em);
      -ms-transform: rotate(45deg) translate(.5em, .4em);
      -o-transform: rotate(45deg) translate(.5em, .4em);
      transform: rotate(45deg) translate(.5em, .4em);
    }

    .pure-menu-link.active span:after {
      -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
      -moz-transform: rotate(-45deg) translate(.45em, -.35em);
      -ms-transform: rotate(-45deg) translate(.45em, -.35em);
      -o-transform: rotate(-45deg) translate(.45em, -.35em);
      transform: rotate(-45deg) translate(.45em, -.35em);
    }

#menu .pure-menu-heading {
  font-size: 150%;
  color: #fff;
}

  #menu .pure-menu-heading:hover, #menu .pure-menu-heading:focus {
    color: #fff;
  }

#menu .pure-menu-selected {
  background: #3A7D8F;
}

  #menu .pure-menu-selected a {
    color: #eee;
  }

#menu li.pure-menu-selected a:hover, #menu li.pure-menu-selected a:focus {
  background: none;
}

#menu .stl-menu-green 
{
  color: #80FF80;
  font-weight:bold;
}

#menu .sub-menu {
  color: #ddd;
  font-weight: normal;
  margin-left: 1.5em;
}

.header {
  min-height: 80px;
  margin: 0;
  color: #333;
  padding: 1em 2em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
}

  .header h1 {
    font-family: "omnes-pro", sans-serif;
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }

  .header h2 {
    font-weight: 300;
    margin: 0;
    color: #ccc;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: rgb(75, 75, 75);
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

.content {
  border-bottom: 2px solid #283C43;
  border-top: 2px solid #283C43;
}
#counter1, #counter2 {
  position: fixed;
  left: 10px;
}
/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 870px) {

  /* Navigation Push Styles */
  #layout {
    position: relative;
    padding-left: 0;
  }

    #layout.active {
      position: relative;
      left: 200px;
    }

      #layout.active #menu {
        left: 200px;
        width: 200px;
      }

  #menu {
    left: 0;
  }
  #counter1, #counter2 {
    left: -200px;
  }

  .pure-menu-link {
    position: fixed;
    left: 0;
    display: block;
  }

  #layout.active .pure-menu-link {
    left: 200px;
  }
}

@media (max-width: 767px) {

  .header, .content {
    font-size: 87.5%;
  }

  .header, .content {
    padding-left: 1.1429em;
    padding-right: 1.1429em;
  }

  /* normalize paddings on small screens*/
  .l-hbox {
    padding: 1.3em;
  }
}
